@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0 !important;
	margin: 0 !important;
}
* {
	border-style: solid;
	@apply border-nord-4;
	@apply dark:border-nord-3;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #253341 inset;
	box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

/* Tippy */
.tippy-box[data-theme~='own'] {
	@apply bg-nord-4;
	@apply text-nord-0/60;
	@apply rounded-lg;
	@apply dark:bg-nord-3 dark:text-nord-4/60;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	@apply dark:bg-nord-0;
}
/* Handle */
::-webkit-scrollbar-thumb {
	@apply dark:bg-nord-2;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply dark:bg-nord-3;
}

/* Custom Classes */
.trans {
	transition: all 0.25s ease-in-out;
}
.btn {
	@apply rounded-lg;
	@apply h-6;
	@apply w-6;
	@apply text-lg;
	transition: all 0.25s ease-in-out;
	@apply hover:bg-nord-6;
	@apply dark:hover:bg-nord-2;
}
.ctx-btn {
	@apply rounded-lg flex h-8 text-left px-2 gap-4 items-center justify-start;
}
.shortcut {
	@apply rounded-lg;
	@apply flex items-center justify-center;
	@apply bg-nord-6;
	@apply h-12 w-12;
	transition: all 0.25s ease-in-out;
	@apply dark:bg-nord-2;
	@apply hover:bg-nord-5;
	@apply dark:hover:bg-nord-3;
}
.activeItem {
	@apply bg-nord-5;
	@apply dark:bg-nord-2;
}
.is-resizing {
	@apply border-l border-nord-3 opacity-50;
	@apply dark:border-nord-4;
}

/* Milkdown */
.milkdown {
	@apply px-2 py-4 mx-5;
}
.editor {
	@apply outline-none;
	@apply prose dark:prose-invert max-w-none;
}
